.invert,
.fancy {
    font-size: 28px;
    font-family: Helvetica, "Time New Roman", sans-serif;
}

.invert {
    background-color: black;
    color: white;
}

.fancy {
    background-color: yellow;
    color: black;
}